.reviews {
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style-type: none;
  padding: 0;
  width: 80vw;
}

.review-card {
  background-color: hsl(0, 0%, 75%, 80%);
  color: black;
  height: 240px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 80px 80px 80px;
  grid-template-areas: 
    "title creator body image"
    "date votes body image"
    "date comment-count body image";
  margin: 10px 0;
}

.review-title {
  grid-area: title;
  font-size: 20px;
  align-self: center;
}

.review-creator {
  grid-area: creator;
  font-size: 20px;
  align-self: center;
}

.review-image {
  grid-area: image;
  height: 150px;
  width: 150px;
  justify-self: center;
  align-self: center;
  padding-top: 50px;
}

.review-body {
  font-size: 18px;
  grid-area: body;
  align-self: center;
}

.review-body:hover {
  color: blue;
}

.review-votes {
  grid-area: votes;
  font-size: 20px;
  align-self: center;
}

.review-comment-count {
  grid-area: comment-count;
  font-size: 20px;
  align-self: center;
}

.review-date {
  grid-area: date;
  font-size: 20px;
  align-self: center;
}