.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.review-card {
  height: 300px;
  width: 400px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 30% 17% 17% 17%;
  grid-template-areas: 
    "title creator"
    "image body"
    "image votes"
    "image comment-count"
    "image date";
}

.review-card:hover {
  background-color: tan;
}

.review-title {
  grid-area: title;
}

.review-creator {
  grid-area: creator;
}

.review-image {
  grid-area: image;
  border: solid black 1px;
  height: 150px;
  width: 150px;
  justify-self: center;
  align-self: center;
}

.review-body {
  font-size: 12px;
  grid-area: body;
}

.review-votes {
  grid-area: votes;
  font-size: 14px;
}

.review-comment-count {
  grid-area: comment-count;
}

.review-date {
  grid-area: date;
  font-size: 14px;
}