.single-review {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "title title"
    "body body"
    "votes votes"
    "comments comments";
  height: 100vh;
  width: 100vw;
}

.single-review-title {
  grid-area: title;
  font-size: 28px;
}

.single-review-body {
  grid-area: body;
  margin: 0 80px;
}

.single-review-votes {
  grid-area: votes;
}

.likes-section {
  display: grid;
  justify-content: center;
}

.like-button {
  background-color: chartreuse;
}

.dislike-button {
  background-color: crimson;
}

.add-comment-form {
  color: grey;
}

.single-review-comments {
  grid-area: comments;
}

.comment-card {
  border: solid 1px black;
}