.navbar {
  height: 150px;
  width: 600px;
  margin: auto;
}

.categories {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.all-category-button {
  height: 40px;
  margin: 5px 5px 0 5px;
  width: 140px;
  padding: 10px;
  font-size: 16px;
  background-color: hsl(195, 93%, 79%, 90%);
  color: black;
  border: solid 2px black;
  border-radius: 30px;
}

.all-category-button:hover {
  background-color: hsl(195, 93%, 89%, 100%);
}

.category-button {
  margin: 5px;
  width: 140px;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  background-color: hsl(195, 93%, 79%, 90%);
  color: black;
  border: solid 2px black;
  border-radius: 30px;
}

.category-button:hover {
  background-color: hsl(195, 93%, 89%, 100%);
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 150px;
    width: 360px;
    margin: 0px auto 120px auto;
  }
  .categories {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
  }
  .all-category-button {
    height: 60px;
    width: 120px;
  }
  .category-button {
    height: 60px;
    width: 120px;
  }
}