.navbar {
  height: 150px;
  width: 600px;
  margin: auto;
}

.categories {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.all-category-button {
  height: 40px;
  margin: 5px 5px 0 5px;
  width: 140px;
  padding: 10px;
  background-color: lightblue;
  color: black;
  border: solid 2px black;
  border-radius: 30px;
}

.all-category-button:hover {
  background-color: lightcyan;
}

.category-button {
  margin: 5px;
  width: 140px;
  text-decoration: none;
  padding: 10px;
  background-color: lightblue;
  color: black;
  border: solid 2px black;
  border-radius: 30px;
}

.category-button:hover {
  background-color: lightcyan;
}