.comment-card {
  background-color: hsl(195, 93%, 79%, 90%);
  border-radius: 5px;
  color: black;
  width: 90vw;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 15% 15% 60% 10%;
  grid-template-areas: "author date body votes";
  padding: 0 10px;
}

.comment-author {
  grid-area: author;
}

.comment-date {
  grid-area: date;
}

.comment-body {
  grid-area: body;
  text-align: left;
}

.comment-votes {
  grid-area: votes;
}

.delete-comment-button:hover {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .comment-card {
    display: table;
    width: 80vw;
  } 
}
