.reviews-section {
  margin-bottom: 40px;
}

.sort-by-section {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  margin: 20px auto auto auto;
  width: 480px;
}

.sort-by-button {
  margin-top: 20px;
  width: 110px;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  background-color: hsl(135, 93%, 79%, 90%);
  color: black;
  border: solid 2px black;
  border-radius: 30px;
}

.sort-by-button:hover {
  background-color: hsl(135, 93%, 89%, 100%);
  cursor: pointer;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style-type: none;
  padding: 0;
  width: 80vw;
}

.review-card {
  background-color: hsl(240, 61%, 70%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 20px hsl(240, 61%, 50%, 100%);
  color: black;
  height: 160px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 80px 80px;
  grid-template-areas: 
    "title title title body image"
    "date votes comment-count body image";
  margin: 10px 0;
  padding: 3px 10px;
}

.review-card:hover {
  background-color: hsl(240, 61%, 75%, 100%);
}

.review-title {
  grid-area: title;
  font-size: 20px;
  align-self: center;
  padding: 5px;
  margin: 20px 5px 5px 5px;
  background-color: hsl(195, 93%, 72%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
}

.review-image {
  grid-area: image;
  height: 150px;
  width: 150px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
}

.review-body {
  height: 150px;
  min-width: 150px;
  margin: 0 50px;
  align-self: center;
  justify-self: center;
  font-size: medium;
  grid-area: body;
  border-radius: 10px;
  background-color: hsl(195, 93%, 72%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
}

.review-votes {
  grid-area: votes;
  font-size: 20px;
  align-self: center;
  background-color: hsl(135, 93%, 79%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
  width: 90%;
  margin: auto;
}

.review-comment-count {
  grid-area: comment-count;
  font-size: 20px;
  align-self: center;
  background-color: hsl(135, 93%, 79%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
  width: 90%;
  margin: auto;
}

.review-date {
  grid-area: date;
  font-size: 20px;
  align-self: center;
  background-color: hsl(135, 93%, 79%, 90%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .review-image {
    display: none;
  }
  .review-card {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
      "title title title body"
      "date votes comment-count body";
    margin: 10px 0;
  }
}

@media only screen and (max-width: 800px) {
  .review-card {
    height: 240px;
    display: table;
    margin: 10px 0;
  }
  .review-image {
    display: block;
    margin: 20px auto 20px auto;
  }
  .review-body {
    height: auto;
    font-size: large;
  }
  .review-votes {
    margin: 10px auto;
    width: 180px;
  }
  .review-comment-count {
    margin: 10px auto;
    width: 180px;
  }
  .review-date {
    margin: 10px auto;
    width: 180px;
  }
  .sort-by-section {
    grid-template-columns: 105px 105px 105px 105px;
    width: 420px;
  }
  .sort-by-button {
    width: 100px;
  }
}

@media only screen and (max-width: 430px) {
  .sort-by-section {
    display: table;
    width: 90vw;
  }
  .sort-by-button {
    width: 30vw;
    font-size: 14px;
  }
  .reviews {
    width: 300px;
  }
  .review-card {
    margin: 20px 0 0 0;
    width: fit-content;
  }
}

@media only screen and (min-width: 1100px) {
  .review-body {
    font-size: large;
  }
}

@media only screen and (min-width: 1500px) {
  .review-body {
    font-size: larger;
  }
}
