.single-review {
  display: grid;
  grid-template-rows: auto auto 100px auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "title title"
    "body body"
    "votes votes"
    "comments comments";
  width: 90vw;
  margin: auto;
}

.single-review-title {
  grid-area: title;
  font-size: 28px;
  margin: 0;
  color: black;
  background-color: hsl(135, 93%, 79%, 90%);
  border: 0.1px solid hsl(135, 93%, 79%, 90%);
  box-shadow: 0px 0px 20px hsl(240, 61%, 50%, 100%);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  padding: 10px 30px;
}

.single-review-body {
  grid-area: body;
  padding: 30px 20px;
  margin: 20px auto 0 auto;
  color: black;
  background-color: hsl(240, 61%, 70%, 90%);;
  border: 0.1px solid hsl(240, 61%, 70%, 90%);;
  box-shadow: 0px 0px 20px hsl(240, 61%, 50%, 100%);
  border-radius: 10px;
  width: fit-content;
}

.single-review-rating {
  grid-area: votes;
}

.rating-section {
  display: grid;
  justify-content: center;
  margin: 0;
}

.like-button {
  background-color: chartreuse;
}

.dislike-button {
  background-color: crimson;
}

.single-review-comments {
  grid-area: comments;
}

.add-comment-form {
  color: grey;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
}

.input-comment {
  width: 80%;
  margin: 3px auto;
}

.input-comment::placeholder {
  text-align: center;
}

.add-comment-button {
  width: 120px;
  margin: 5px auto;
  font-family: News Cycle;
  font-size: 15px;
}

