body {
  background-color: black;
  color: white;
  font-family: News Cycle;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-title {
  text-decoration: none;
  color: white;
}

.user-profile {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: auto;
}

.username {
  color: red;
}

.user-image {
  height: 200px;
  width: 200px;
  justify-self: center;
}

.login-button {
  background: rgb(125, 161, 202);
}

.link {
  text-decoration: none;
  color: black;
}