body {
  background-color: black;
  color: hsl(195, 93%, 89%, 100%);
  font-family: News Cycle;
  background-image:
    radial-gradient(circle, white, hsla(360, 100%, 100%, 0.2) 2px, transparent 4px),
    radial-gradient(circle, white, hsla(360, 100%, 100%, 0.2) 1px, transparent 8px),
    radial-gradient(circle, white, hsla(360, 100%, 100%, 0.15) 2px, transparent 5px),
    radial-gradient(circle, white, hsla(360, 100%, 100%, 0.15) 2px, transparent 3px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0px, 5px 60px, 180px 270px, 30px 100px;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-title {
  text-decoration: none;
  color: hsl(135, 93%, 89%, 100%);
  font-size: 38px;
  font-family: "Press Start 2P";

}

.main-title:hover {
  color: hsl(240, 61%, 80%, 100%);
}

.sub-title {
  font-size: 30px;
}

.page-description {
  margin: auto;
  width: 80vw;
  font-size: 26px;
}

.please-login {
  font-size: 30px;
}

.user-profile {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "user picture" "button button";
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 230px;
  margin: auto;
  padding-bottom: 12px;
  background-color: hsl(240, 61%, 70%, 100%);
  border: 0.1px solid hsl(240, 61%, 50%, 100%);
  box-shadow: 0px 0px 18px hsl(240, 61%, 40%, 100%);
  border-radius: 10px;
}

.username {
  color: black;
  grid-area: user;
  margin: auto;
  font-size: 30px;
}

.user-image {
  width: 90%;
  grid-area: picture;
  margin: auto;
  border-radius: 30px;
}

.login-button {
  grid-area: button;
  background-color: hsl(195, 93%, 79%, 90%);
  width: 100px;
  height: 30px;
  margin: auto;
  font-size: 18px;
  border-radius: 30px;
}

.login-button:hover {
  background-color: hsl(195, 93%, 89%, 100%);
  font-size: 19px;
}

.link {
  text-decoration: none;
  color: black;
}


@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 30px;
  }
  .page-description {
    font-size: 18px;
  }
  .user-profile {
    margin: 45px auto;
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  .please-login {
    font-size: 24px;
  }
  .user-image {
    width: 50%;
    grid-area: picture;
    margin: 10px auto;
    border-radius: 30px;
  }
}